.input {
  border: 0;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
  color: var(--text-secondary);
  background-color: var(--input-bg);

  &:focus {
    color: #151411;
    outline-color: var(--checkbox-border-hover);
  }

  &:disabled {
    color: #151411;
  }
}
