.product {
  display: flex;
  gap: var(--space-xl);
  width: 100%;
  &__block {
    $size: calc((100% - 40px - var(--space-xl)) / 2);
    width: $size;
    height: $size;
  }
  &__nav {
    display: flex;
    gap: var(--space-xs);
    align-items: center;
    span {
      padding: 12px;
    }
  }
  &__nav:hover {
    cursor: pointer;
  }
}
